@model I4PRJ_SmartStorage.ViewModels.UserViewModel

@{
  ViewBag.Title = "Create User";
}

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Create User</h5>
        </div>
        <div class="ibox-content">

          @using (Html.BeginForm())
          {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
              @Html.ValidationSummary(true)

              @Html.HiddenFor(model => model.Username, new { Value = "Dummy" })
              @Html.HiddenFor(model => model.ProfilePicture, new { Value = "/Content/images/rubber-duck.png" })

              <div class="form-group has-feedback">
                @Html.LabelFor(model => model.FullName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", id = "FullName" })
                    @Html.ValidationMessageFor(model => model.FullName)
                  </div>
                </div>
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                  </div>
                </div>
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                  </div>
                </div>
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.IsAdmin, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                  @Html.CheckBoxFor(model => model.IsAdmin, new { @class = "checkbox" })
                  @Html.ValidationMessageFor(model => model.IsAdmin)
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <input type="submit" value="Create" class="btn btn-primary" />
                  @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning" })
                </div>
              </div>
            </div>
          }

        </div>
      </div>
    </div>
  </div>
</div>
