@using Microsoft.AspNet.Identity
@model I4PRJ_SmartStorage.Models.IndexViewModel
@{
  ViewBag.Title = "Manage";
}

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="ibox">
        <div class="ibox-title">
          <h5>@ViewBag.Title.</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-5 col-lg-offset-4">
              <img alt="image" class="img-circle" width="100" src="@Html.Action("GetProfilePicture", "Account", new {userId = User.Identity.Name})" />

            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <label>Password:</label>
            </div>
            <div class="col-lg-8">
              @if (Model.HasPassword)
              {
                @Html.ActionLink("Change your password", "ChangePassword")
              }
              else
              {
                @Html.ActionLink("Create", "SetPassword")
              }
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <label>Phone Number:</label>
            </div>
            <div class="col-lg-8">
              @(Model.PhoneNumber ?? "None")
              @if (Model.PhoneNumber != null)
              {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
              }
              else
              {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")&nbsp;&nbsp;]</text>
              }
            </div>
          </div>
          <a class="btn btn-success btn-facebook btn-outline" href="@Url.Action("Facebook","Account")">
            <i class="fa fa-facebook"> </i> Update with Facebook
          </a>
        </div>
      </div>
    </div>
  </div>
</div>