@using I4PRJ_SmartStorage.Models
@model I4PRJ_SmartStorage.Models.RegisterViewModel
@{
  ViewBag.Title = "RegisterWizard";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RegisterWizard</h2>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-8">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Create a new account</h5>
        </div>
        <div class="ibox-content">

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "wizard-big", role = "form", id = "form", action = "#" }))
            {
              @Html.ValidationSummary("", new { @class = "text-danger" })
              @Html.AntiForgeryToken()

              <h3>Account</h3>
              <fieldset>
                <h2>Account Information</h2>
                <div class="row">
                  <div class="col-lg-8">
                    <div class="form-group">
                      @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                    <div class="form-group">
                      @Html.LabelFor(m => m.Password, new { @class = " control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                    <div class="form-group">
                      @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="text-center">
                      <div style="margin-top: 20px">
                        <i class="fa fa-sign-in" style="font-size: 180px; color: #e5e5e5"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <h3>Profile</h3>
              <fieldset>
                <h2>Profile Information</h2>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      @Html.LabelFor(m => m.Firstname, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Firstname)
                    </div>
                    <div class="form-group">
                      @Html.LabelFor(m => m.Middlename, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Middlename, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Middlename)
                    </div>
                    <div class="form-group">
                      @Html.LabelFor(m => m.Lastname, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Lastname)
                    </div>

                  </div>
                  <div class="col-lg-4">
                    <div class="text-center">
                      <div style="margin-top: 20px">
                        <i class="fa fa-user" style="font-size: 180px; color: #e5e5e5"></i>
                      </div>
                    </div>
                  </div>
                </div>

              </fieldset>
              <h3>Contact</h3>
              <fieldset>
                <h2>Contact Information</h2>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </div>
                    <div class="form-group">
                      @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <div class="col-lg-4">
                      <div class="text-center">
                        <div style="margin-top: 20px">
                          <i class="fa fa-address-card" style="font-size: 180px; color: #e5e5e5"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            }
        </div>
      </div>
    </div>
  </div>
</div>

@section Styles {
  @Styles.Render("~/Content/wizardSteps")
}

@section Scripts {
  @Scripts.Render("~/bundles/validate")
  @Scripts.Render("~/bundles/wizardSteps")


  <script type="text/javascript">
    $("#form")
      .steps({
        headerTag: "h3",
        bodyTag: "fieldset",
        autoFocus: true,
        labels: {
          finish: "Verify"
        },
        onStepChanging: function(event, currentIndex, newIndex) {
          if (currentIndex > newIndex) {
            return true;
          }

          var form = $(this);

          if (currentIndex < newIndex) {
            $(".body:eq(" + newIndex + ") label.error", form).remove();
            $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
          }

          return form.valid();

        },
        onFinishing: function(event, currentIndex) {
          var form = $(this);

          return form.valid();
        },
        onFinished: function(event, currentIndex) {
          var form = $(this);

          form.submit();
        }
      });

  </script>
}