@using Microsoft.AspNet.Identity
@model I4PRJ_SmartStorage.UI.ViewModels.Identity.ManageViewModel
@{
  ViewBag.Title = "Manage profile";
}

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="ibox">
        <div class="ibox-title">
          <h5>@ViewBag.Title</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
                  <div class="col-sm-4">
                    <div class="text-center">
                      <img alt="image" class="img-circle m-t-xs img-responsive" src="@Html.Action("GetProfilePicture", "Account", new {userId = User.Identity.Name})">
                      <div class="m-t-xs font-bold"></div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <h3><strong>@Html.Action("GetFullName", "Account", new { userId = User.Identity.Name })</strong></h3>
                    <p><i class="fa fa-phone"></i> @Model.PhoneNumber</p>
                    <p><i class="fa fa-envelope"></i> @Model.Email</p>
                    <a class="btn btn-block btn-primary btn-outline" href="@Url.Action("ChangePassword","Manage")">
                      <i class="fa fa-key"> </i> Change Password
                    </a>
                    <br/>
                    <a class="btn btn-block btn-primary btn-outline" href="@Url.Action("Edit","Account")">
                      <i class="fa fa-paste"> </i> Update info
                    </a>
                    <br />
                    <a class="btn btn-block btn-success btn-facebook btn-outline" href="@Url.Action("Facebook","Account")">
                      <i class="fa fa-facebook"> </i> Update with Facebook
                    </a>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>