@using System.Activities.Statements
@using I4PRJ_SmartStorage.Helpers
@using I4PRJ_SmartStorage.Models
@using I4PRJ_SmartStorage.Models.Domain
@using Microsoft.AspNet.Identity

<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <img alt="image" class="img-rounded" width="90" src="~/Content/images/rubber-duck.png" />
        </div>

        <div class="logo-element">
          <img alt="image" class="img-circle" width="50" src="~/Content/images/rubber-duck.png" />
        </div>
      </li>
      @if (Request.IsAuthenticated)
      {

        <li class="@Html.IsSelected(controller: "Transactions")">
          <a href="@Url.Action("Index", "Transactions")">
            <i class="fa fa-arrows-h"></i> <span class="nav-label">Transaction</span>
          </a>
        </li>

        <li class="@Html.IsSelected(controller: "Status")">
          <a href="@Url.Action("Index", "Status")">
            <i class="fa fa-file-text-o"></i> <span class="nav-label">Status</span>
          </a>
        </li>

              <li class="@Html.IsSelected(controller: "Stocks")">
                <a href="@Url.Action("Index", "Stocks")"><i class="fa fa-table"></i> <span class="nav-label">Stocks</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Stocks", cssClass: "in")">
                  @{
                    IEnumerable<Inventory> inventories = HMTLHelperExtensions.GetInventories();

                    foreach (var item in inventories)
                    {
                      <li class="@(Convert.ToInt32(Url.RequestContext.RouteData.Values["id"]) == item.InventoryId && Url.RequestContext.RouteData.Values["controller"].ToString() == "Stocks" ? "active" : "")">
                        <a href="@Url.Action("Inventories", "Stocks", new {id = item.InventoryId})">@item.Name</a>
                      </li>
                    }
                  }
                </ul>
              </li>

              <li class="@Html.IsSelected(controller: "Products")">
                <a href="@Url.Action("Index", "Products")"><i class="fa fa-barcode"></i> <span class="nav-label">Products</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Products", cssClass: "in")">
                  @{
                    IEnumerable<Category> categories = HMTLHelperExtensions.GetCategories();

                    if (categories.Any())
                    {
                      foreach (var item in categories)
                      {
                        <li class="@(Convert.ToInt32(Url.RequestContext.RouteData.Values["id"]) == item.CategoryId && Url.RequestContext.RouteData.Values["controller"].ToString() == "Products" ? "active" : "")">
                          <a href="@Url.Action("Index", "Products", new {id = item.CategoryId})">@item.Name</a>
                        </li>
                      }
                    }
                    else
                    {
                      <li class="@Html.IsSelected(controller: "Products", action: "Create")">
                        <a href="@Url.Action("Create", "Products")">Create new</a>
                      </li>
                    }
                  }
                </ul>
              </li>

              <li class="@Html.IsSelected(controller: "Categories")">
                <a href="@Url.Action("Index", "Categories")">
                  <i class="fa fa-tag"></i> <span class="nav-label">Category</span>
                </a>
              </li>

              <li class="@Html.IsSelected(controller: "Inventories")">
                <a href="@Url.Action("Index", "Inventories")">
                  <i class="fa fa-database"></i> <span class="nav-label">Inventory</span>
                </a>
              </li>

              <li class="@Html.IsSelected(controller: "Suppliers")">
                <a href="@Url.Action("Index", "Suppliers")">
                  <i class="fa fa-briefcase"></i> <span class="nav-label">Suppliers</span>
                </a>
              </li>

              <li class="@Html.IsSelected(controller: "Wholesalers")">
                <a href="@Url.Action("Index", "Wholesalers")">
                  <i class="fa fa-shopping-cart"></i> <span class="nav-label">Wholesalers</span>
                </a>
              </li>
              <li class="@Html.IsSelected(controller: "Users")">
                <a href="@Url.Action("Index", "Users")">
                  <i class="fa fa-users"></i> <span class="nav-label">Users</span>
                </a>
              </li>
                    }
                    else
                    {
                      <li>
                        <a href="@Url.Action("Login", "Account")" id="loginLink"><i class="fa fa-sign-in"></i>Log in</a>
                      </li>
                    }
    </ul>
  </div>
</nav>