@model I4PRJ_SmartStorage.ViewModels.SupplierViewModel

@{
  ViewBag.Title = "Create Supplier";
}

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Create Supplier</h5>
        </div>
        <div class="ibox-content">

          @using (Html.BeginForm())
          {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
              @Html.ValidationSummary(true)

              <div class="form-group">
                @Html.LabelFor(model => model.Supplier.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                  @Html.EditorFor(model => model.Supplier.Name)
                  @Html.ValidationMessageFor(model => model.Supplier.Name)
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <input type="submit" value="Create" class="btn btn-primary" />
                  <a href="#" class="btn btn-danger btn-outline" onclick="history.go(-1); return false;">Cancel</a>
                </div>
              </div>
            </div>
          }

        </div>
      </div>
    </div>
  </div>
</div>


@section Scripts {
  @Scripts.Render("~/bundles/validate")
}